.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
  padding: 10px;
}

.chatHeader__hash {
  color: #808080;
  font-size: 30px;
  padding: 10px;
}

.chatHeader__left > h3 {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.chatHeader__right {
  display: flex;
  justify-content: space-between;
  flex: 0.5;
  align-items: center;
}

.chatHeader__right > .MuiSvgIcon-root {
  padding: 5px;
  cursor: pointer;
}

.chatHeader__right > .MuiSvgIcon-root:hover {
  color: red;
}

.chatHeader__search {
  display: flex;
  align-items: center;
  color: #808080;
  background-color: #2f3135;
  border-radius: 3px;
  padding: 3px;
}

.chatHeader__search > input {
  background: transparent;
  outline-width: 0;
  color: #ffffff;
  border: none;
}
