.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.login > button {
  width: 300px;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}
